.karaOi
.slider
    .hooper
        height: 100vh
        .item
            height: 100vh
            img
                height: 100%
                width: 100%
                object-fit: cover
.slider
    position: relative
    &:before
        position: absolute
        content: ''
        bottom: 78px
        z-index: 1
        left: 50%
        transform: translateX(-50%)
        background-image: url(../static/svg/arrow.svg)
        background-position: center
        background-repeat: no-repeat
        width: 37px
        height: 25px
    .hooper-pagination
        bottom: 120px
    .hooper-indicator
        width: 16px
        height: 16px
        border-radius: 50%
        outline: none !important
        background: #C7C3C3
        opacity: 0.25
    .hooper-indicator.is-active, .hooper-indicator:hover
        background-color: #F18917
        opacity: 1
    button
        background: rgba(16, 16, 16, 0.8)
        outline: none !important
        padding: 0
        @media (max-width: 960px)
            background: rgba(16, 16, 16, 0.27)
    svg
        fill: $white
        width: 50px
        height: 80px
        path + path
            width: 13px
            height: 28px
.aboutUs
    padding: 56px 0
    @media (max-width: 1450px)
        padding: 56px 0 0 0
    .wrapper
        max-width: 924px
        margin: 0 auto
        h2
            margin-bottom: 56px
            font-weight: bold
            font-size: 36px
            line-height: 49px
            text-align: center
            text-transform: uppercase
            color: #000000
            @media (max-width: 1450px)
                font-size: 24px
                line-height: normal
                margin-bottom: 24px
        p
            font-size: 18px
            line-height: 25px
            text-align: center
            color: #727272
            margin-bottom: 40px
            @media (max-width: 1450px)
                font-size: 14px
    .flexContainer.hall
        @media (max-width: 1450px)
            max-width: 900px
        .flexGrid.hall
            @media (max-width: 1450px)
                margin-left: -50px
            .flexItem
                &:before
                    @media (max-width: 1450px)
                        left: 45px
                @media (max-width: 1450px)
                    padding-left: 50px
    .flexContainer
        margin: 0 auto
        max-width: 1200px
        padding: 60px 0
        @media (max-width: 1450px)
            max-width: 1050px
        @media (max-width: 960px)
            padding: 20px 0

        .flexGrid
            display: flex
            flex-wrap: wrap
            margin-left: -146px
            @media (max-width: 1450px)
                margin-left: -100px
            @media (max-width: 960px)
                margin-left: 0
            &.hall
                .flexItem
                    position: relative
                    &:first-child
                        &:before
                            display: none
                    &:before
                        position: absolute
                        top: 0
                        bottom: 0
                        left: 73px
                        background-color: #727272
                        width: 1px
                        content: ''
                        @media (max-width: 960px)
                            display: none
                    h3
                        font-weight: bold
                        font-size: 18px
                        line-height: 25px
                        text-align: center
                        color: #000000
                        @media (max-width: 1450px)
                            font-size: 12px
                            line-height: normal
                            margin-bottom: 10px
                    p
                        font-size: 18px
                        line-height: 25px
                        text-align: center
                        color: #727272
                        @media (max-width: 1450px)
                            font-size: 10px
                            line-height: 19px

            .flexItem
                width: 33.3%
                padding-left: 146px
                @media (max-width: 1450px)
                    padding-left: 100px
                @media (max-width: 960px)
                    width: 100%
                    padding-left: 0
                    margin-bottom: 30px
                h3
                    font-size: 24px
                    line-height: 33px
                    text-transform: uppercase
                    color: #000000
                    margin-bottom: 26px
                    @media (max-width: 1450px)
                        font-size: 15px
                        line-height: normal
                    @media (max-width: 960px)
                        margin-bottom: 10px
                p
                    font-size: 18px
                    line-height: 25px
                    color: #727272
                    @media (max-width: 1450px)
                        font-size: 12px
                        line-height: normal
.hotel
    h2
        font-weight: bold
        font-size: 36px
        text-align: center
        text-transform: uppercase
        color: #000000
        margin-bottom: 64px
        @media (max-width: 1450px)
            font-size: 24px
            margin-bottom: 10px
    .hotelGrid
        &:hover
            background: #FAFAFA
        .ItemHotel
            max-width: 1200px
            margin: 0 auto
            display: flex
            flex-wrap: wrap
            padding: 40px 0
            @media (max-width: 1450px)
                max-width: 950px
            > div
                width: 50%
                @media (max-width: 960px)
                    width: 100%
                    padding: 0 10px
        .hooper.smallSlide
            height: 67px
            @media (max-width: 960px)
                height: 35px
            .hooper-slide
                border: 5px solid #fff
        .hooper.bigSlide
            height: 364px
            @media (max-width: 1450px)
                height: 300px
            @media (max-width: 640px)
                height: 190px
            img
                width: 100%
                height: 100%
                object-fit: cover
        .hooper-next
            right: 20px
            outline: none !important
            border-radius: 50%
            background: rgba(16, 16, 16, 0.8)
            padding: 0
            width: 30px
            height: 30px
            fill: #fff
            svg
                width: 20px
                height: 20px
        .hooper-prev
            left: 20px
            outline: none !important
            border-radius: 50%
            background: rgba(16, 16, 16, 0.8)
            padding: 0
            width: 30px
            height: 30px
            fill: #fff
            svg
                width: 20px
                height: 20px
        .wrapperShadow
            background: #FFFFFF
            margin-bottom: 15px
            box-shadow: 0 4px 24px rgba(0, 0, 0, 0.05)
            @media (max-width: 960px)
                margin-bottom: 5px
        .priceWrapper
            padding: 10px 16px
            display: flex
            align-items: center
            justify-content: center
            .start
                width: auto
                flex: 1
                flex-grow: 3
                min-width: 1px
                .rooms
                    font-size: 24px
                    line-height: 33px
                    text-transform: uppercase
                    color: #000000
                    @media (max-width: 1450px)
                        font-size: 18px
                        line-height: normal
                .peoples
                    font-size: 14px
                    line-height: 19px
                    text-transform: uppercase
                    color: #000000
                    @media (max-width: 1450px)
                        font-size: 12px

            .end
                width: auto
                .prices
                    font-size: 24px
                    line-height: 33px
                    text-align: right
                    text-transform: uppercase
                    color: #000000
                    font-weight: bold
                    background-repeat: no-repeat
                    background-position: right center
                    padding-right: 20px
                    -webkit-background-size: 15px
                    background-size: 15px
                    &.som
                        background-image: url(../static/svg/som.svg)
                    &.dollar
                        background-image: url(../static/svg/dollar.svg)
                    @media (max-width: 1450px)
                        font-size: 17px
    .rightSide
        padding-left: 24px
        @media (max-width: 960px)
            padding-left: 10px
            padding-right: 10px
            margin-top: 10px
        label
            font-size: 24px
            line-height: 33px
            text-transform: uppercase
            color: #FFFFFF
            background: #8EA7D0
            max-width: 400px
            height: 62px
            display: flex
            align-items: center
            justify-content: center
            cursor: pointer
            margin-bottom: 20px
            @media (max-width: 1450px)
                font-size: 17px
                height: 40px
                max-width: 300px
        ul
            padding: 0
            margin: 0
            li
                //list-style: none !important
                font-size: 18px
                line-height: 25px
                color: #727272
                @media (max-width: 1450px)
                    font-size: 13px
                    line-height: 20px
        h4
            font-size: 24px
            line-height: 33px
            text-transform: uppercase
            color: #000000
            margin-bottom: 26px
            @media (max-width: 1450px)
                font-size: 18px
            @media (max-width: 960px)
                margin-bottom: 10px

        p
            font-size: 18px
            line-height: 25px
            color: #727272
            @media (max-width: 1450px)
                font-size: 14px

        h6
            font-size: 14px
            margin-top: 10px
            text-transform: uppercase
            color: #000000
            @media (max-width: 1450px)
                font-size: 12px
.carousel.book
    width: 60%
    @media (max-width: 960px)
        width: 90%
    .hooper
        height: auto
    img
        border: 0
        display: block
    @media (max-width: 960px)
        .hooper-pagination
            display: none
.carousel
    width: 80%
    margin: 40px auto 100px auto
    @media (max-width: 960px)
        width: 95%
    .hooper
        height: 300px
        @media (max-width: 1450px)
            height: 250px
    img
        width: 100%
        border: 16px solid #fff
        height: 100%
        object-fit: cover
    .hooper-prev
        left: -60px
        @media (max-width: 960px)
            left: 0
        @media (max-width: 640px)
            left: 0
    .hooper-next
        right: -60px
        @media (max-width: 960px)
            right: 0
        @media (max-width: 640px)
            right: 0
    button
        background: #8EA7D0
        outline: none !important
        padding: 0
        svg
            fill: $white
            width: 50px
            height: 80px
            @media (max-width: 1450px)
                width: 40px
                height: 60px
            path + path
                width: 13px
                height: 28px
                @media (max-width: 1450px)
                    width: 7px
                    height: 22px
    .hooper-pagination
        bottom: -40px
    .hooper-indicator
        width: 16px
        height: 16px
        border-radius: 50%
        outline: none !important
        background: #C7C3C3
        opacity: 0.25
    .hooper-indicator.is-active, .hooper-indicator:hover
        background-color: #505050
        opacity: 1
.textBlock
    max-width: 1240px
    margin: 0 auto 100px auto
    padding: 0 20px
    @media (max-width: 1450px)
        max-width: 970px
    .grid
        display: flex
        @media (max-width: 960px)
            flex-wrap: wrap
        .text
            width: 50%
            @media (max-width: 960px)
                width: 100%
                margin-bottom: 20px
            h3
                font-weight: normal
                font-size: 24px
                line-height: 33px
                text-transform: uppercase
                color: #000000
                margin-bottom: 40px
                @media (max-width: 1450px)
                    font-size: 16px
                    margin-bottom: 20px
            p
                font-weight: normal
                font-size: 18px
                text-transform: capitalize
                color: #727272
                margin-bottom: 10px
                @media (max-width: 1450px)
                    font-size: 12px
    .pay
        margin-top: 100px
        @media (max-width: 960px)
            margin-top: 50px
        h4
            margin-bottom: 20px
            font-weight: bold
            font-size: 18px
            line-height: 25px
            text-transform: uppercase
            color: #000000
            @media (max-width: 1450px)
                font-size: 15px
        img
            @media (max-width: 1450px)
                max-height: 40px
.karaOi.residence
    .hotel .rightSide label
        background-color: #F4AE61
    .carousel button
        background-color: #F4AE61
