.mainFooter
    background: #292621
    color: #fff
    padding: 60px 8.3%
    @media (max-width: 1450px)
        padding: 40px 2%
    @media (max-width: 1366px)
        padding: 40px
    @media (max-width: 960px)
        padding: 20px
    @media (max-width: 640px)
        padding: 30px 15px


    .mainFlexGrid
        display: flex
        flex-wrap: wrap

        .mainFlexItem
            width: 50%
            @media (max-width: 640px)
                width: 100%
            h4
                margin-bottom: 20px
                @media (max-width: 1366px)
                    font-size: 15px

            &.rightSide
                padding-left: 40px
                @media (max-width: 640px)
                    padding-left: 0

                h4
                    color: #8EA7D0
                    @media (max-width: 1450px)
                        font-size: 13px
                p
                    @media (max-width: 1450px)
                        font-size: 11px
            &.leftSide
                padding-right: 40px
                border-right: 1px solid $white
                @media (max-width: 640px)
                    padding-right: 0
                    border-right: 0
                    padding-bottom: 20px
                    margin-bottom: 20px
                    border-bottom: 1px solid $white
                h4
                    color: #F4AE61
                    @media (max-width: 1450px)
                        font-size: 13px
                p
                    @media (max-width: 1450px)
                        font-size: 11px
            .flexGrid
                display: flex
                flex-wrap: wrap
                justify-content: space-between
                .flexItem
                    width: 33.3%
                    @media (max-width: 960px)
                        width: 50%
                    @media (max-width: 640px)
                        width: 100%
.secondFooter
    .grid
        display: flex
        .left
            width: 500px
            min-width: 500px
            padding: 110px 0
            display: flex
            align-items: center
            justify-content: center
            background-color: #292621
            .margin
                margin-bottom: 50px
                &:last-child
                    margin-bottom: 0
            h3
                color: #8EA7D0
                margin-bottom: 17px
                @media (max-width: 1450px)
                    font-size: 12px

            p
                font-size: 12px
                line-height: 16px
                color: #FFFFFF
                @media (max-width: 1450px)
                    font-size: 10px
            p + p
                margin: 0
            p
                margin-bottom: 10px
        .right
            flex: 1
            flex-grow: 3
            width:  auto
            iframe
                display: block
